<form action="/add" method="post">
  <input type="text" name="name" value="" placeholder="Restaurant name">
  <input type="text" name="food_type" value="" placeholder="Type of food">
  <textarea name="description" rows="8" cols="40" placeholder="Description of restaurant"></textarea>
  <input type="number" name="user_id" value="{{user.id}}" placeholder="user_id">
  <button type="submit" name="button">Add restaurant</button>

</form>

<p>
  {{user.id}}
</p>
