<form action="/add" method="post">
  <input type="text" name="name" value="" placeholder="Restaurant name">
  <input type="text" name="food_type" value="" placeholder="Type of food">
  <textarea name="description" rows="8" cols="40" placeholder="Description of restaurant"></textarea>
    <input type="hidden" name="user_id" value="{{user.id}}"></option>
  <button type="submit">Add restaurant</button>

</form>
