<h1>{{title}}</h1>

{{#each restaurant}}
 <ul>
   <li>{{this.name}}</li>
 </ul>
 {{/each}}

<a href="/login"><button type="button">Login</button></a>
<a href="/signup"><button type="button">Signup</button></a>
