
<h1>{{error}}</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter Username">
  <input type="password" name="password" placeholder="Enter Password">
  <button type="submit">Submit</button>
</form>
